
#heading {
  text-align: center;
  color: orange;
  
}

.theQuiz  {
  color: blue;
  text-align: left;
}

#img-1 {
  height= 420px; 
  width= 600px;
  position: absolute:
  top: 500px;
  right: 300;
}

#img-2 {
  height="42" 
  width="42"
}