.theQuiz  {
  color: black;
  text-align: left;
}

#img-1 {
  height= 220px; 
  width= 300px;
}

#img-2 {
  height="42";
  width="42";
}

#img-3{
  width: 210px;
  height: 300px;
}


#header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

border-style: {
	color: #39FF14;
}

body  {
	margin: 20px 150px;
	text-align: center;
   -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}


header  {
  text-decoration: none;
  background-color: #cfdaee;
  width: 1000px;
  padding: 25px;
  border: 5px solid navy;
  margin: auto;
/*   text-align: center; */
  
}

center  {
   width: 500px;
   padding: 25px;
   border: 25px green;
   margin: 25px;
}


.end {
  position: relative;
}


.submit {
  margin: auto;
  position: absolute;
  margin: auto;
}

.jumbotron{
  font-size: 15px;
  margin: 0 auto;
  padding:5px; 
}

#mfheader{
  text-decoration:overline;
}

#img-4 {
  height: 300px;
  width: 500px;
}

#img-5 {
  height: 200px;
  width: 400px;
}

img[alt='home'] {
  height: 50px;
  width: 50px;
}

#content {
  margin: 0 auto;
  width: 90%;
}