#mfheader {
  text-decoration: overline;
  text-align: center;
}


#header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font color: blue;
}

.slider {
  width: auto;
  height: auto;
  overflow-x: scroll;
}
.slide {
  float: left;
  width: auto;
  height: auto;
}

body {
  background-color: blue;
}

#take-quiz {
  font-family: 'Roboto', sans-serif;
  font size: ;
}

.btn-btn-primary-btn-lg {
  margin: auto;
}
