@import url(http://fonts.googleapis.com/css?family=Roboto);

#everything {
  background-image:url("") ;
}


#header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font color: blue;
}

.slider {
  width: auto;
  height: auto;
  overflow-x: scroll;
}
.slide {
  float: left;
  width: auto;
  height: auto;
}

